# Frontend Environment Variables
VITE_API_URL=https://agriculture-smart-assistant.onrender.com

# Backend Environment Variables
NODE_ENV=development
PORT=5001
MONGO_URI=mongodb+srv://varad:YOUR_PASSWORD@my-chat-app.jbuxw.mongodb.net/agriculture_smart?retryWrites=true&w=majority&appName=my-chat-app
JWT_SECRET=your_jwt_secret_key_here
